<div class="container">
	<h1>Angular 2</h1>
	<h2>
		<a href="https://blog.thoughtram.io/angular/2015/03/27/building-a-zippy-component-in-angular-2.html">Building a Zippy component in Angular</a>
	</h2>
	<div class="row">
		<div class="zippy">
			<div class="zippy__title" (click)="toggle()">
				{{ visible?'&#x25BE;':'&#x25B8;'}}
				{{title}}
				Details
			</div>
			<div class="zippy__content" [hidden]="!visible">
				<!-- This is some content. -->
				<ng-content></ng-content>
			</div>
		</div>
	</div>
	<h2>
		<a href="https://blog.thoughtram.io/angular/2015/04/09/developing-a-tabs-component-in-angular-2.html">Developing a Tabs component in Angular</a>
	</h2>	
	<div class="card">
		<div class="card-block">
			<ul>
				<li>
					From HTML in child component passes in string assignment to local variable tabTitle, kinda like ng-init
				</li>
				<li>
					Child component dep injects parent component and has access to its properties
				</li>
				<li>
					Parent component has an array of its child compoents defined
				</li>
				<li>
					We push every instance of this component to the array in parent component with the child constructor function now that it has access to its parents properties
				</li>
				<li>
					Parent component is able to access the array of child components like a json array
				</li>
				<li>Check out tabs component</li>
			</ul>

		</div>
	</div>	
	<div class="row">
		<tabs>
			<!-- <p>Some random stuff</p> -->
			<tab tabTitle="Foo">
				Content of tab Foo
			</tab>
			<tab tabTitle="Bar">
				Content of tab Bar
			</tab>
		</tabs>
	</div>
</div>